<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Genetic" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Neuro" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net45" />
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net45" />
  <package id="Cognitio.ConvNetSharp.Core" version="0.4.11-alpha" targetFramework="net45" />
  <package id="Cognitio.ConvNetSharp.Volume" version="0.4.11-alpha" targetFramework="net45" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net45" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net45" />
  <package id="EMGU.CV" version="4.1.0.3420" targetFramework="net45" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net45" />
  <package id="LiveCharts.Geared" version="1.2.9" targetFramework="net45" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net45" />
  <package id="NeuralNetworks" version="1.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net45" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net45" />
</packages>